<h1>Listing photogalleries</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Posted by</th>
      <th>Date posted</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @photogalleries.each do |photogallery| %>
      <tr>
        <%= image_tag photogallery.photo.url %>
        <td><%= photogallery.title %></td>
        <td><%= photogallery.description %></td>
        <td><%= photogallery.posted_by %></td>
        <td><%= photogallery.date_posted %></td>
        <td><%= link_to 'Show', photogallery %></td>
        <td><%= link_to 'Edit', edit_photogallery_path(photogallery) %></td>
        <td><%= link_to 'Destroy', photogallery, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Photogallery', new_photogallery_path %>
