<p id="notice"><%= notice %></p>
<%= image_tag @photogallery.photo.url %>
<p>
  <strong>Title:</strong>
  <%= @photogallery.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @photogallery.description %>
</p>

<p>
  <strong>Posted by:</strong>
  <%= @photogallery.posted_by %>
</p>

<p>
  <strong>Date posted:</strong>
  <%= @photogallery.date_posted %>
</p>

<%= link_to 'Edit', edit_photogallery_path(@photogallery) %> |
<%= link_to 'Back', photogalleries_path %>
